*.x
res*
fort.*
*log
*.pdf
*.dat
*.swap
*.txt
*.png
*.ipynb
*.gp
*.py
*.sh

# Prerequisites
*.d
cplx-basis-test
EXT_Lib
results_H_nb70
results_H_nb70dt01
results_std_nb70dt01
results_std_nb50dt01
results_std_nb100dt01
16-04-25
diff.x.dSYM
DAT_files

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.zip
