# === EXECUTABLES ET FICHIERS COMPILÉS ===
*.x            
*.exe          
*.out          
*.o            
*.mod          
*.smod         
*.obj
*.dll
*.so
*.a
*.lib
*.dylib
*.sh

# === FICHIERS TEMPORAIRES OU DE TRAVAIL ===
*.log
*.txt
*.dat
*.swap
*.d
*.zip
*.pdf
*.png
*.gch
*.pch
*.ipynb
*.lua
*.gp
*.py

# === DOSSIERS DE RÉSULTATS ===
res*            
results*         
obj

# === OUTILS ET LIBS LOCAUX ===
EXT_Lib/

# === WINSURF ===
winsurf/          
*.wsv            
*.srf            
*.sur 
calc*
spectrum*           