# === EXECUTABLES ET FICHIERS COMPILÉS ===
*.x            # Exécutables .x (Fortran)
*.exe          # Exécutables Windows
*.out          # Exécutables Unix
*.o            # Fichiers objets compilés
*.mod          # Modules Fortran compilés
*.smod         # Modules spécifiques
*.obj
*.dll
*.so
*.a
*.lib
*.dylib

# === FICHIERS TEMPORAIRES OU DE TRAVAIL ===
*.log
*.txt
*.dat
*.swap
*.d
*.zip
*.pdf
*.png
*.gch
*.pch

# === DOSSIERS DE RÉSULTATS ===
res*/             # Dossiers c
results*/         # Dossiers comme results_H_nb5, results_anhar-h-a-ttf_nb*
obj

# === OUTILS ET LIBS LOCAUX ===
EXT_Lib/

# === WINSURF ===
winsurf/          # Si WinSurf a un dossier ou une sortie dans le projet
*.wsv             # Fichier de surface WinSurf (WinSurfView)
*.srf             # Fichiers de surface
*.sur             # Fichiers de données WinSurf